<html>
{% if username %}
logged you in as {{username}} <br>
	<!-- % if hasFoursquare %} -->
		Login to foursquare:
        <a href = "{{foursquare_link}}" >Foursquare</a><br>
		Login to Twitter:
        <a href = "{{twitter_link}}" >twitter</a><br>
		Login to Tripit:
        <a href = "{{tripit_link}}" >Tripit</a>

	<!-- % endif %} -->

{% else %}
		Login:
		<form action="/weblogin/" method="post">
			email: <input type="text" name="emailAddress"><br>
			password: <input type="text" name="password"><br>
    		<input type="submit" value="New User" maxlength=10><br>
			<font color=red>{{ loginret }}</font>
		</form>

		New User:
		<form action="/register/" method="post">
			email: <input type="text" name="emailaddress"><br>
			username: <input type="text" name="username"><br>
			password: <input type="text" name="password"><br>
			password confirm: <input type="text" name="confirmpassword"><br>
			<input type="submit" value="submit" maxlength=10>
			<font color=red>{{ registerret }}</font>
		</form>
{% endif %}
</html>
