<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
<script src="http://maps.google.com/maps/api/js?sensor=false">" type="text/javascript"></script>
<script type="text/javascript" src="/site_media/jquery.js"></script> 
<script type="text/javascript" src="/site_media/profile.js"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
<script>
$(document).ready(doneLoading);
</script>
<link rel="stylesheet" href="/site_media/style.css" type="text/css" media="screen"  charset="utf-8">
    <script type="text/javascript">

	var map;
    function initialize() {
		var latlng = new google.maps.LatLng(-34.397, 150.644);
		var myOptions = {
			zoom: 8,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		//start ajax calls
    }
    </script>

</head>
<body onload="initialize()" onunload="google.maps.GUnload()">
<div class = "tabArea" border=1>
<div id = "signedIn">
{% if username %}
<fb:name uid="{{username}}" ></fb:name> <fb:profile-pic uid="{{username}}" facebook-logo="true" size="thumb" ></fb:profile-pic>
<a id="logout_user" href="logout_user" onclick='FB.Connect.ifUserConnected(null,function() { window.location = "logout_user" }); FB.Connect.logoutAndRedirect("logout_user"); return false;'>Sign out</a>
{% else %}
{{request}}
<fb:login-button onlogin="facebook_onlogin()"></fb:login-button>
{% endif %}

<script type="text/javascript">  
	FB.init("{{fbkey}}", "templates/xd_receiver.html"); 
</script>
</div>
<div>
<a href="/addServices">Add services</a>
</div>
</div>
</div>

<div class="tabMain clearfix" color:#606060 background-color: #f4f2f3>
	<div class="logoArea">
	</div>
    <div class="profileinfo" width: 25%; height:100%; padding:0; float:left; border:2px solid #101010>
    	<div>
        <h2 >Profile Info for: </h2>
        </div>
        <div id="userinfo">
        </div>
		<div class='authorizedprofile'>
		{% for info in services %}
			<div class='siteinfo'
			<p class="summary">{{ info }} 
			<form>
			<input type=checkbox name="checkbox" onClick="toggleSiteData(this.form, '{{info}}')"></p>
			</form>
			<p class='thebody'>
			logo <br>
			You have a name and stuff<br>
			You have some profile status<br>
			</p>
			<ul class="actions">
       			<li><a href="">Remove</a></li>
     		</ul>
			</div>

		{% endfor %}
		</div>
    </div>

    <div class =mapcontent id="map_canvas" width: 70%; height:100%; float:right;>
        This is where the map goes
    </div>
</div>
</body>
</html>
